.category-page{
  margin: 1rem 2rem;
  background-color: #590209;
  width: 100vw;
}

.subcategoryNav {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .subcategoryLink {
    flex: 0 0 auto;
    text-decoration: none;
    color: #590209;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .subcategoryLinkActive {
    background-color: #333;
    color: #fff;
  }

  .categorySection {
    display: flex;
    flex-direction: column;
  }


 .productGrid {
    width: 100vw;
    margin: 0;
  }

  .productRowContainer {
    margin: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
    overflow-y: none;
  } 
  

  
  .productRow {

    /* gap: 1.5rem;
    justify-content: space-between; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%; 
    -ms-overflow-style: none; 
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-padding: 1rem;
    max-width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #c0392b #f1f1f1; 
    justify-content: flex-start;
    gap: 40px;
  }
  
  .subcategoryName {
    text-align: start;
    font-size: 1.8rem;
  }


.productRow::-webkit-scrollbar {
  display: block; 
  width: 8px; 
  height: 8px; 
}

.productRow::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px; 
}

.productRow::-webkit-scrollbar-thumb {
  background-color: #c0392b;
  border-radius: 4px; 
}

.productRow::-webkit-scrollbar-thumb:hover {
  background-color: #e74c3c; 
}

.searchfield {
  align-items: flex-end;
  color: #590209;
  background-color: #fff;
}

/* filters */

.filtersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 



.filtersHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.filtersIcon {
  margin-right: 8px;
}

.filtersBody {
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtersBody .searchfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filtersBody .searchfield > div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.filtersBody .searchfield > div > span {
  margin-right: 8px;
  font-weight: bold;
}

.filtersBody .searchfield > div > input,
.filtersBody .searchfield > div > select {
  margin-right: 8px;
  width: "200px";
  height: "25px";
}


input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Other browsers */
}

/* Target the up and down arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  width: 20px; 
  height: 50%; 
  background: transparent;
}

@media (max-width: 768px) {
  .productRow {
    grid-auto-columns: calc(60% - 10px); 
  }
  .subcategoryName{
    font-size: 1rem;
  }
  .filtersContainer {
    width: calc(80% - 10px);
  }
  .filtersBody .searchfield > div > span {
    font-size: 0.5rem;
  }
  .filtersBody .searchfield > div > input,
.filtersBody .searchfield > div > select {
  font-size: 0.5rem;
  height: 16px;
  width: 80px;
}
.filtersBody .searchfield > div > input[type="number"]{
  width: 45px;
  height: 12px;
}
}

@media (max-width: 480px) {
  .productRow {
    grid-auto-columns: calc(80% - 10px); 
  }
  .filtersContainer {
    width: calc(100% - 2px);
  }
  .filtersBody {
    width: calc(60% - 10px);
  }
}
   