.subcategoryNav {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* Additional styles for the subcategory navigation container */
  }
  
  .subcategoryLink {
    flex: 0 0 auto;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    /* Additional styles for the subcategory links */
  }
  
  .subcategoryLinkActive {
    background-color: #333;
    color: #fff;
    /* Styles for the active subcategory link */
  }

  .subcategory-section {
    margin-bottom: 2rem;
  }
  
  .product-row-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .product-row-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .product-row {
    display: inline-flex;
  gap: 1rem;
  padding: 1rem 0;
  }