.header {
    align-items: center;
    background-color: #fff; 
    color: #590209;
    justify-content: space-between;
    margin: 0 0 10px 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
  }

  .headerbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 98%;
    min-width: 100%;
  }

  .headerTextWrapper {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  
  .headerText {
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .headericon img{
    height: 25rem;
    width: 100%;
  }

  .logodiv{
    display: flex;
  }
  
  .logo {
    height: 40px;
  }
  .headerLogoText {
    font-size: 1.5rem;
    margin: 4px 0 0 15px;
  }
  
  .searchContainer {
    display: flex;
    border: 1px solid #590209;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0;
    height: 35px;
    margin-top: 3px;
  }
  
  .searchInput {
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    color: #590209;
    width: 400px;
    padding: 1em;
  }
  
  .searchIcon {
    height: 24px;
    border: transparent;
    background-color: transparent;
    color: #590209;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .icons {
    display: flex;
    gap: 1rem;
  }
  
  .icons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icons img {
    height: 24px;
  }

  .headerimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border: solid 1.4px #590209;
    width: 105%;
    margin-left: -9px;
  }

  .headerimg {
    margin-right: -15px;
  }


@media (max-width: 425px) and (min-width: 320px) {
  .logodiv{
    flex-direction: column;
    margin-right: 2%;
    margin-top: 0;
  }
  .logo {
    height: 1em;
    margin-right: 35px;
    margin-top: 10px;
  }
  .headerLogoText{
    font-size: 0.45rem;
    margin-left: 2px;
  }

  .searchContainer {
    font-size: 0.8rem;
    margin-right: 10%;
  }
  
  .searchInput {
    width: 200px;
    margin: 0.02em 0.02em;
  }

  .headerbar {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 0.5rem 0.2rem 0 0.5rem;
    max-width: 95%;
    width: 100%;
  }

  .icons img {
    height: 18px;
  }

  .icons {
    display: flex;
    gap: 0.1rem;
  }
  .headerText{
    font-size: 1.2rem;
  }
  .headerimg2{
    visibility: hidden;
  }
  .headerimg{
    margin-right: -1px;
  }
  .headerimages {
    width: 180%;
    margin-left: -10px;
  }
  .headerTextWrapper {
    top: 30%;
    left: 40%;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .logodiv{
    flex-direction: column;
    margin-right: 2%;
    margin-top: 0;
  }
  .logo {
    height: 1em;
    margin-right: 35px;
    margin-top: 10px;
  }
  .headerLogoText{
    font-size: 0.45rem;
    margin-left: 2px;
  }

  .searchContainer {
    font-size: 0.8rem;
    margin-right: 10%;
  }
  
  .searchInput {
    width: 160px;
    padding: 0.02em 0.8em;
  }
  .headerText{
    font-size: 1.2rem;
  }
  .icons {
    gap: 0.001rem;
    margin-right: -10px;
  }
  .headerimg2{
    visibility: hidden;
  }
  .headerimg{
    margin-right: 0px;
  }
  .headerimages {
    width: 110%;
    margin-left: -10px;
  }
}

@media (max-width: 972px) and (min-width: 430px) {
  .logodiv{
    flex-direction: column;
    margin-right: 2%;
    margin-top: 0;
  }
  .logo {
    height: 1em;
    margin-right: 35px;
    margin-top: 10px;
  }
  .headerLogoText{
    font-size: 0.45rem;
    margin-left: 2px;
  }

  .searchContainer {
    font-size: 0.8rem;
  }
  
  .searchInput {
    width: 60px;
    margin: 0.02em 0.02em;
  }

  .headerbar {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 0.5rem 0.2rem 0 0.5rem;
    max-width: 95%;
    width: 100%;
  }

  .icons img {
    height: 18px;
  }

  .icons {
    display: flex;
    gap: 0.4rem;
  }
  .headerText{
    font-size: 1.2rem;
  }
  .headerimg2{
    visibility: hidden;
  }
  .headerimg{
    margin-right: 0px;
  }
  .headerimages {
    width: 110%;
    margin-left: -10px;
  }
}

@media (min-width: 768px) and (max-width: 1000px){
  .headerimg3{
    visibility: hidden;
  }
}