/* src/styles/MainContent.module.css */
.mainContent {
    /* padding: 2rem;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 95%;
    overflow: hidden; */
    background-color: #fff;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 2rem; */
  }
  
  .heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .categoryIcons {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.02em;
    justify-items: center;
    overflow: hidden;
  }

  .categoryIcon {
    justify-items: center;
    width: 15em;
    height: 15em;
  }

  .categoryIcon h3 {
    font-family: 'Fredericka the Great';
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #590209;
  }

  .categoryIcon img{
    width: 85%;
    height: 80%;
    border: solid 2px #590209;
    border-radius: 50%;
  }
  
  @media (max-width: 768px) and (min-width: 325px) {
    .categoryIcons {
      grid-template-columns: repeat(2, 0.5fr);
      gap: 0;
    }
    .categoryIcon {
      justify-items: center;
      width: 12em;
      height: 12em;
    }
    .categoryIcon img{
      width: 65%;
      height: 60%;
    }
    .categoryIcon h3 {
      text-align: center;
      justify-content: center;
      justify-self: center;
      margin-right: 4.5rem;
    }
    .vendor {
      min-width: 100px;
      margin-left: 2rem;
    }
    .vendorButton {
      margin-left: 5rem;
      margin-top: 4em;
    }
  }

  .vendor {
    flex: 1;
    min-width: 200px;
    margin-left: 15rem;
  }
  
  .vendorButton {
    background-color: #590209;
    color: #fff;
    border: none;
    padding: 1rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    justify-self: center;
    margin-left: 15rem;
    margin-top: 4em;
  }


  
  @media (max-width: 767px) and (min-width: 360px) {
    .categoryIcons {
      grid-template-columns: repeat(2, 0.5fr);
      gap: 0;
    }
    .categoryIcon {
      justify-items: center;
      width: 11em;
      height: 11em;
    }
    .categoryIcon img{
      width: 60%;
      height: 55%;
    }
    .categoryIcon h3 {
      font-size: 1.2rem;
      text-align: center;
      justify-content: center;
      justify-self: center;
      margin-right: 4.5rem;
    }
    .vendor {
      min-width: 100px;
      margin-left: 2rem;
    }
    .vendorButton {
      margin-left: 5rem;
      margin-top: 4em;
    }
  
  }